@model ModelLayer.ChangePasswordVM
@{
    ViewBag.Title = "ChangePassword";
    if (User.IsInRole("HOD"))
    {
        Layout = "~/Areas/HOD/Views/Shared/_Layout.cshtml";
    }
    else if (User.IsInRole("Student"))
    {
        Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
    }
    else if (User.IsInRole("Faculty"))
    {
        Layout = "~/Areas/Faculty/Views/Shared/_Layout.cshtml";
    }
    else if (User.IsInRole("Admin"))
    {
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }
}

@if (ViewBag.Message != null)
{
    if (ViewBag.Message > 0)
    {
        <div class="alert alert-success">
            Password Changed Successfully
        </div>
    }
    else
    {
        <div class="alert alert-danger">
             Invalid Details Please try again
        </div>
    }
}
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h2 class="text-center">Change Password</h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Change Password" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }</div>
